In [26]:
from pathlib import Path

In [3]:
from utilities import get_datetime_now, get_quiz_collection

import pandas as pd

from zipfile import ZipFile

In [11]:
import os

In [10]:
quiz_path

'EN_NOUN_AV_16NOV2022/NOUN_QUIZ_001.csv'

In [9]:
pd.read_csv(zf.open(quiz_path), encoding='utf-8')

,QUESTION_TEXT,OPTION_1,OPTION_2,OPTION_3
0,"M _ _ looked at me solemnly, seemingly prepar...",mom,MOM,Mom
1,The doorframe and adjacent pillar had broken u...,life,LIFE,Life
2,"The box was twelve inches square, five i _ _ _...",inches,INCHES,Inches
3,Aideen looked back. The Spanish soldiers were ...,masks,MASKS,Masks
4,"In a pocket of her jacket, she has a straight ...",razor,RAZOR,Razor
5,"""Well, get dressed and we'll have breakfast."" ...",meal,MEAL,Meal
6,"""Lord Elend,"" Vin said, looking down, seeming ...",front,FRONT,Front
7,They couldn't kill Lamia for good. The earth g...,world,WORLD,World
8,I'd like to think that there is a chasm betwee...,flesh,FLESH,Flesh
9,"""Weirdo."" But his s _ _ _ e faded quickly when...",smile,SMILE,Smile
10,He managed a grunt. That response seemed to am...,arms,ARMS,Arms
11,"""And to seal it-"" She rose and turned to the s...",box,BOX,Box
12,Instead you have the normal array of knacks an...,human,HUMAN,Human
13,"""Is there another room where I could sit?"" he ...",dining,DINING,Dining
14,"'Sure, I guess so,' Naomi had replied. She loo...",marriage,MARRIAGE,Marriage
15,"""Helatin,"" Sireos said in a firm tone of voice...",liquid,LIQUID,Liquid
16,"She sat in a chair next to him. ""Hey, we need ...",care,CARE,Care
17,He turned to the charging pack. An overhand ri...,tree,TREE,Tree
18,"Charity turned her face away from Molly, a kin...",grief,GRIEF,Grief
19,"At H-hour, F-117 stealth bombers dropped two 2...",helicopter,HELICOPTER,Helicopter

In [13]:
os.listdir('quiz_repo/')

['01_EN_NOUN_AV_16NOV2022.zip',
 '02_EN_VERB_AV_16NOV2022.zip',
 '03_AR_UN_CORPUS_16NOV2022.zip']

In [40]:
quiz_repo = os.listdir('quiz_repo')
quiz_repo_dict = {int(i.split('_')[0]):f'quiz_repo/{i}' for i in quiz_repo if i.endswith('.zip')}

In [41]:
test_01 = quiz_repo_dict.get(1)

In [42]:
Path(test_01).stat()

os.stat_result(st_mode=33206, st_ino=9007199256963210, st_dev=2759166536, st_nlink=1, st_uid=0, st_gid=0, st_size=247056, st_atime=1670260514, st_mtime=1670240402, st_ctime=1670258168)

In [43]:
test_01

'quiz_repo/01_EN_NOUN_AV_16NOV2022.zip'

In [55]:
dict_01 = {'wrong_answer1': 'البحري', 'wrong_answer2': 'مؤقت', 'wrong_answer3': 'المشاكل', 'wrong_answer4': 'المؤتمر', 'wrong_answer5': 'إقليم', 'wrong_answer6': 'مكتب', 'wrong_answer7': 'الخصوص', 'wrong_answer8': 'المحلية', 'wrong_answer9': 'للأصول', 'wrong_answer10': 'الدينية', 'wrong_answer11': 'الصادرات', 'wrong_answer12': 'وثائق', 'wrong_answer13': 'الصناعية', 'wrong_answer14': 'قيام', 'wrong_answer15': 'جولة', 'wrong_answer16': 'الإجمالية', 'wrong_answer17': 'وصناديقها', 'wrong_answer18': 'كفركلا', 'wrong_answer19': 'الحائزة', 'wrong_answer20': 'الإشارة', 'quiz_name': 'AR_UN_CORPUS_16NOV2022/AR_GENERAL_VOCABULARY_001.csv', 'quiz_result': 'quiz_result', 'quiz_duration_minutes': '0', 'number_of_wrong_answers': '20'}

In [56]:
dict_01 = {k:v for k,v in dict_01.items() if ((k.startswith('wrong_answer') == False) and (k != 'quiz_result'))}

In [59]:
dict_01['date_time'] = get_datetime_now()

In [60]:
pd.DataFrame(dict_01.values(), index=dict_01.keys()).T

,quiz_name,quiz_duration_minutes,number_of_wrong_answers,date_time
0,AR_UN_CORPUS_16NOV2022/AR_GENERAL_VOCABULARY_0...,0,20,2022-12-05 23:53:53

In [86]:
dict_01 = {'a': 3232, 'zy': 323.6, 'aff': 'xyz dfsfasdfsa dfsfsd', 'b':[2, '343', [2343, 113]]}

In [87]:
dict_02 = {'a': 3232, 'zy': 323.6, 'b':[2, '343']}

In [120]:
dict_03 = {'a': 3232, 'zy': 323.6, 'b':[2, '343']}

In [90]:
df_01 = pd.DataFrame(data = dict_01.values(), index=dict_01.keys()).T

In [94]:
df_01.to_json('TEST_JSON.json', orient='records')

In [97]:
df_01 = pd.read_json('TEST_JSON.json', encoding='utf-8')

In [133]:
def append_dict_to_df(df_x, dict_x):
    df_temp = pd.DataFrame(data=dict_x.values(), index=dict_x.keys()).T
    result = pd.concat([df_x, df_temp]).reset_index(drop=True)
    print(len(result))
    return result

In [138]:
def update_json_file_with_dict(path_to_json, dict_x, save_file=False):
    df_old = pd.read_json(path_to_json, encoding='utf-8')
    result = append_dict_to_df(df_old, dict_x).reset_index(drop=True)
    
    if save_file:
        result.to_json(path_to_json, orient='records')
    return result

In [139]:
x = update_json_file_with_dict('TEST_JSON.json', dict_02, save_file=True)

2

In [140]:
update_json_file_with_dict('TEST_JSON.json', dict_03, save_file=True)

3

      a     zy                    aff                      b
0  3232  323.6  xyz dfsfasdfsa dfsfsd  [2, 343, [2343, 113]]
1  3232  323.6                   None               [2, 343]
2  3232  323.6                    NaN               [2, 343]

In [141]:
append_dict_to_df(df_01, dict_03)

2

      a     zy                    aff                      b
0  3232  323.6  xyz dfsfasdfsa dfsfsd  [2, 343, [2343, 113]]
1  3232  323.6                    NaN               [2, 343]

In [143]:
update_json_file_with_dict('TEST_JSON.json', dict_03, save_file=True)

5

      a     zy                    aff                      b
0  3232  323.6  xyz dfsfasdfsa dfsfsd  [2, 343, [2343, 113]]
1  3232  323.6                   None               [2, 343]
2  3232  323.6                   None               [2, 343]
3  3232  323.6                   None               [2, 343]
4  3232  323.6                    NaN               [2, 343]

In [154]:
dict_quiz_results = {'wrong_answer1': 'البحري', 'wrong_answer2': 'مؤقت', 'wrong_answer3': 'المشاكل', 'wrong_answer4': 'المؤتمر', 'wrong_answer5': 'إقليم', 'wrong_answer6': 'مكتب', 'wrong_answer7': 'الخصوص', 'wrong_answer8': 'المحلية', 'wrong_answer9': 'للأصول', 'wrong_answer10': 'الدينية', 'wrong_answer11': 'الصادرات', 'wrong_answer12': 'وثائق', 'wrong_answer13': 'الصناعية', 'wrong_answer14': 'قيام', 'wrong_answer15': 'جولة', 'wrong_answer16': 'الإجمالية', 'wrong_answer17': 'وصناديقها', 'wrong_answer18': 'كفركلا', 'wrong_answer19': 'الحائزة', 'wrong_answer20': 'الإشارة', 'quiz_name': 'AR_UN_CORPUS_16NOV2022/AR_GENERAL_VOCABULARY_001.csv', 'quiz_result': 'quiz_result', 'quiz_duration_minutes': '0', 'number_of_wrong_answers': '20'}

In [155]:
list_mistakes = [v for k,v in dict_quiz_results.items() if k.startswith('wrong_answer')]

In [156]:
dict_quiz_data = {k:v for k,v in dict_quiz_results.items() if ((k.startswith('wrong_answer') == False) and (k != 'quiz_result'))}

In [157]:
dict_quiz_data['mistakes'] = list_mistakes

In [161]:
pd.DataFrame(data=dict_quiz_data.values(), index=dict_quiz_data.keys()).T

,quiz_name,quiz_duration_minutes,number_of_wrong_answers,mistakes
0,AR_UN_CORPUS_16NOV2022/AR_GENERAL_VOCABULARY_0...,0,20,"[البحري, مؤقت, المشاكل, المؤتمر, إقليم, مكتب, ..."