In [1]:
import pandas as pd
from pathlib import Path

In [2]:
def append_dict_to_df(df_x, dict_x):
    df_temp = pd.DataFrame(data=dict_x.values(), index=dict_x.keys()).T
    result = pd.concat([df_x, df_temp], ).reset_index(drop=True)
    return result

In [3]:
def update_json_file_with_dict(path_to_json, dict_x, save_file=True):
    
    js_file = Path(path_to_json)
    if js_file.is_file() == False:
        df_old = pd.DataFrame(data = {i:[] for i in dict_x.keys()})
    else:
        df_old = pd.read_json(path_to_json, encoding='utf-8')
        
    result = append_dict_to_df(df_old, dict_x).reset_index(drop=True)
    
    if save_file:
        result.to_json(path_to_json, orient='records')
    return result

In [6]:
some_dict  = {'2': 'fdadsa', 'hello': []}

In [9]:
update_json_file_with_dict('non_existent_json_file.json', some_dict)

        2 hello
0  fdadsa    []
1  fdadsa    []
2  fdadsa    []

In [10]:
for i in range(13):
    update_json_file_with_dict('non_existent_json_file.json', some_dict)

In [11]:
pd.read_json('non_existent_json_file.json')

         2 hello
0   fdadsa    []
1   fdadsa    []
2   fdadsa    []
3   fdadsa    []
4   fdadsa    []
5   fdadsa    []
6   fdadsa    []
7   fdadsa    []
8   fdadsa    []
9   fdadsa    []
10  fdadsa    []
11  fdadsa    []
12  fdadsa    []
13  fdadsa    []
14  fdadsa    []
15  fdadsa    []

In [12]:
new_dict = {'adi': 3243, 'sdfs': 6, 'f': ['2', 2.3]}

In [13]:
update_json_file_with_dict('non_existent_json_file.json', new_dict)

         2 hello   adi sdfs         f
0   fdadsa    []   NaN  NaN       NaN
1   fdadsa    []   NaN  NaN       NaN
2   fdadsa    []   NaN  NaN       NaN
3   fdadsa    []   NaN  NaN       NaN
4   fdadsa    []   NaN  NaN       NaN
5   fdadsa    []   NaN  NaN       NaN
6   fdadsa    []   NaN  NaN       NaN
7   fdadsa    []   NaN  NaN       NaN
8   fdadsa    []   NaN  NaN       NaN
9   fdadsa    []   NaN  NaN       NaN
10  fdadsa    []   NaN  NaN       NaN
11  fdadsa    []   NaN  NaN       NaN
12  fdadsa    []   NaN  NaN       NaN
13  fdadsa    []   NaN  NaN       NaN
14  fdadsa    []   NaN  NaN       NaN
15  fdadsa    []   NaN  NaN       NaN
16     NaN   NaN  3243    6  [2, 2.3]