In [1]:
import utilities

In [6]:
import pandas as pd

In [2]:
new_dict = {'adi': 3243, 'sdfs': 6, 'f': ['2', 2.3]}

In [3]:
utilities.get_datetime_now()

'2022-12-06 21:52:17'

In [8]:
utilities.update_json_file_with_dict('empty_json_file.json', new_dict)

    adi sdfs         f
0  3243    6  [2, 2.3]
1  3243    6  [2, 2.3]

In [10]:
pd.read_json('empty_json_file.json')

    adi  sdfs         f
0  3243     6  [2, 2.3]
1  3243     6  [2, 2.3]

In [11]:
 x = {'adi': 3243, 'f': ['2', 2.3]}

In [12]:
utilities.update_json_file_with_dict('empty_json_file.json', x)

    adi  sdfs         f
0  3243   6.0  [2, 2.3]
1  3243   6.0  [2, 2.3]
2  3243   NaN  [2, 2.3]